if condition1:
    task1 block of code
elif condition2:
    task2 block of code
elif condition3:
    task3 block of code
.
,
.
elif condition n:
    task n 

else: 
    task4 block of code

In [3]:
x=9
if x%2==0:
    print("Even")
else:
    print("odd")

odd

In [23]:
x=7
if x>0:
    print("pos")
    if x>10:
        print("M")
    elif x>20:
        print("P")
    elif x<10:
        print("K")
    else:
        print("T")
elif x<0:
    print("neg")
    if x<-20:
        print("Q")
    elif x>-10:
        print("C")
    elif x>-30:
        print("Z")
else:
    print("zero")

pos
K

In [37]:
x="Telangana"
if x[0]=="T":
    print("True")
else:
    print("False")

True

In [77]:

x="maharastra"
if x[0]=="T"or x[0]=="S" or x[0]=="M" or x[0]=="m":
    print("Yes")
else:
    print("No")

Yes

In [65]:
x="Talangana"
if x[0].lower()=="t":
    print("Yes")
else:
    print("No")

Yes

In [69]:
x="talangana"
if x[0].lower() in ("t","s","m"):
    print("Yes")
else:
    print("No")

Yes