In [3]:
import pandas as pd
import seaborn as sns

In [5]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [22]:
sns.load_dataset('iris')

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [30]:
df=sns.load_dataset('taxis')

In [32]:
type(df)

pandas.core.frame.DataFrame

In [34]:
df.shape

(6433, 14)

In [36]:
df['color'].unique()

array(['yellow', 'green'], dtype=object)

In [38]:
df['color'].value_counts()

color
yellow    5451
green      982
Name: count, dtype: int64

In [42]:
df['payment']

0       credit card
1              cash
2       credit card
3       credit card
4       credit card
           ...
6428    credit card
6429    credit card
6430           cash
6431    credit card
6432    credit card
Name: payment, Length: 6433, dtype: object

In [44]:
df['payment'].unique()

array(['credit card', 'cash', nan], dtype=object)

In [46]:
df['payment'].value_counts()

payment
credit card    4577
cash           1812
Name: count, dtype: int64

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

In [54]:
import numpy as np

In [66]:
a=pd.Series([2,5,2,8.6,4,9])

In [68]:
a

0    2.0
1    5.0
2    2.0
3    8.6
4    4.0
5    9.0
dtype: float64

In [73]:
df.iloc[2]

pickup             2019-03-27 17:53:01
dropoff            2019-03-27 18:00:25
passengers                           1
distance                          1.37
fare                               7.5
tip                               2.36
tolls                              0.0
total                            14.16
color                           yellow
payment                    credit card
pickup_zone              Alphabet City
dropoff_zone              West Village
pickup_borough               Manhattan
dropoff_borough              Manhattan
Name: 2, dtype: object

In [75]:
a

0    2.0
1    5.0
2    2.0
3    8.6
4    4.0
5    9.0
dtype: float64

In [77]:
a=np.random.radiant(10,50,20)

AttributeError: module 'numpy.random' has no attribute 'radiant'